*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body{
    font-family: "Segoe UI",SegoeUI,"Helvetica Neue",Helvetica,Arial,sans-serif;
}

nav{
    width: 100vw;
    height: 56px;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

nav .series{
    width: 595px;
    height: 100%;
    padding-left: 85px;

    font-size: 13px;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav .logo{
    width: 110px;
    height: 24px;
    margin-right: 10px;
    background-image: url("../img/logo.png");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

nav .link{
    display: flex;
    align-items: center;
    /* margin-right: 20px; */
}

nav .functions{
    width: 365px;
    height: 100%;
    margin-right: 94px;
    font-size: 13px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

nav .functions .function{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav .functions .down{
    width: 14px;
    height: 10px;
    background-image: url("../img/down.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    margin-top: 11px;
    margin-left: 1px;
    margin-right: -10px;
}

nav .functions .search{
    width: 18px;
    height: 18px;
    background-image: url("../img/search.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    margin-left: 2px;
    margin-right: 10px;
}

nav .functions .cart{
    width: 18px;
    height: 18px;
    background-image: url("../img/cart.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

nav .functions .login{
    width: 34px;
    height: 34px;
    background-image: url("../img/login.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    margin-left: 10px;
}

nav .functions .shopping span{
    margin-right: 5px;
}

/* main 區塊 */

/* carousel區塊 */
main .carousel{
    width: 99.4%;
    height: 472px;
    background-image: url("../img/carousel1.png");
    background-position: 65%;
    background-size: cover;
    background-repeat: no-repeat;
    margin: auto;
}

main .carousel .description{
    width: 579px;
    height: 263px;
    padding-top: 94px;
    padding-left: 140px;
}

main .carousel .description h1{
    font-weight:600;
    font-size: 52px;
    margin-bottom: 24px;
}

main .carousel .description p{
    font-weight: 400;
    font-size: 22px;
    margin-bottom: 42px;
}

main .carousel .description .info{

}

main .carousel .description .info a{
    text-decoration: none;
    font-weight: 600;
    font-size: 22px;
}

main .carousel .description .info a:first-child{
    display: inline-block;
    width: 170px;
    height: 56px;
    background-color: #0067b8;
    color: #fff;
    margin-right: 25px;
    padding: 13px 16.5px;
    border-radius: 3px;
}

/* main .carousel .description .info a:last-child{
    color: #0067b8;
} */

main .carousel .description .info a:first-child:hover{
    background-color: #005ca5;
    box-shadow: 0px 1px 7px #c7c7c7;
}

main .carousel .description .info a:last-child:hover{
    text-decoration: underline;
}

main .carousel .description .info a:last-child:visited{
    color: #000;
}




/* footer 區塊 */
footer{
    width: 100vw;
    height: 484px;
    background-color: #f2f2f2;
    color: #616161;
    padding: 36px 75px 28px;
    font-size: 11px;
}

footer a{
    color: #616161;
    text-decoration: none;
}

footer a:hover{
    text-decoration: underline;
}

/* footer 上面區塊 */
footer .up{
    width: 100%;
    height: 384px;
    display: flex;
}

footer .up .category{
    width: calc(100% / 6);
    display: flex;
    flex-direction: column;
    /* margin-right: 12px; */
}

footer .up .category span:first-child{
    font-size: 15px;
    font-weight: bolder;
    margin-bottom: 10px;
}

footer .up .category span{
    margin-bottom: 14px;
    font-size: 13px;
}

/* footer 下面區塊 */
footer .down{
    width: 100%;
    height: 26px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

footer .down .left{
    width: 300px;
    display: flex;
    align-items: center;
}

footer .down .left .language, 
footer .down .left .privacy{
    display: flex;
    align-items: center;
}

footer .down .left .language .icon{
    width: 20px;
    height: 20px;
    background-image: url("../img/globe-asia-australia.svg");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    margin-right: 8px;
}

footer .down .left .privacy .icon{
    width: 38px;
    height: 26px;
    background-image: url("../img/privacy.png");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    margin-left: 24px;
    margin-right: 8px;
}

footer .down .right{
    width: 524px;
    display: flex;
    justify-content: flex-end;
    justify-content: space-between;
    align-items: center;
    margin-right: 38px;
}

